* {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}

#navegador {
    background-color: black;
    padding: 20px;
    
}

.icone {
    display: inline;
    color:white;
}

#conteudo {
    color:white;
    padding: 50px 10px 50px 20px;
    margin: 0px;
    text-align: center;
}

h3 {text-align: center;}

#lista ul li {
    background-color: black;
    display: block;
    color:white;
    margin-right: auto;
    margin-left: auto;}
    