#navegador {
    background-color: black;
    padding: 40px;   
}
* {
    color: white;
    margin: 0px;
    padding: 0px;
}
#nome-da-loja {
    display: inline;
    color:white;
    padding: 5px 897px 0px 5px;
}

#conteudo {
    background-color: black;
    color: white;
    margin: 0px;
}

h1 {
    text-align: right;
    padding: 100px 40px;
}

#conteudo {
    text-align: right;
    padding: 100px 40px;
}

.icone {
    display: inline;
    color:white;

    text-decoration: none;
}

#rodape {background-color: black;
    color: white;
    padding: 30px 40px;
    text-align: center;
}     

button {color:black;
}