* {background-color: black;
    color: white;
    text-align: center;
    box-align: center;
}
#navegador {
    background-color: black;
    padding: 40px;   
}
#nome-da-loja {
    display: inline;
    color:white;
    padding: 5px 897px 0px 5px;
}

.icone {
    display: inline;
    color:white;

    text-decoration: none;
}

h3 {margin: 90px;}

#tabela {margin:auto;}