
h3 {
    color:white;
    display: inline;
    margin:100px;
}

#navegador.icone {
    background-color: black;
    padding: 40px;
    text-align: right;
    display: inline;
    color:white;
}

#conteudo {
    background-color: black;
    color: white;
    margin: 0px;
}

h1 {
    text-align: right;
    padding: 100px 40px;
}

#conteudo {
    text-align: right;
    padding: 100px 40px;
}

#rodape {   
    background-color: black;
    color: white;
    padding: 30px 40px;
    text-align: center;
}     