.pageOne, .pageTwo {
  margin-top: 1.5vw;
  margin-left: 3vw;
  text-align: center;
  margin: 20px;
  padding: 50px;
  border: 1px solid orange;
}

p:last-child {
  border: 1px solid black;
  height: 2vw;
  text-align: center;
  padding-top: 12px;
}
